body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    font-size: 2vw;
    padding: 1vw;
    border: .3vw black solid;
    border-radius: .5vw;
    padding-left: 5vw;
    background-color: #9CAF88;
}
h1 {
    border: .3vw black solid;
    background-color: #9caf78;
}